*{
    background-color: brown;
}
h1{
    font-size: 100px;
    font-weight: 900px;
}
button{
    padding: 30px;
    background-color: white;
    font-size: 16px;
    font-weight: 900;
}

button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}